.App {
  text-align: center;
}

.pocket {
  margin-top: 1%;
}

.current-weather {
  margin-bottom: 2%;
}

#chart {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.text-center {
  margin: 15px 25%;
  border-top: 5px solid black;
  padding: 25px 0;
}